<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/headerAndFooter/header.css}">
    <link rel="stylesheet" th:href="@{/css/headerAndFooter/footer.css}">
    <link rel="stylesheet" th:href="@{/css/store-management/menu.css}">
    <link rel="stylesheet" th:href="@{/css/store-management/common.css}">
    <link rel="stylesheet" th:href="@{/css/store-management/categories.css}">
    <link rel="stylesheet" th:href="@{/css/toast.css}">
    <title>Inventory</title>
</head>

<body>
    <div id="header"></div>
    <h2>Management</h2>
    <div class="management-wrapper"></div>
    <div class = "footer"></div>

    <script th:src="@{/js/header-footer/header.js}" src="../../static/js/header-footer/header.js"> </script>
    <script th:src="@{/js/header-footer/footer.js}" src="../../static/js/header-footer/footer.js"> </script>
    <script type="module" th:src="@{/js/store-management/categories.js}" src="../../static/js/store-management/categories.js"> </script>

</body>

</html>