<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/assets/profile.svg}">
    
    <!-- =========desig============  remove after design--> 
    <link rel="stylesheet" href="../../static/css/headerAndFooter/header.css">
    <link rel="stylesheet" href="../../static/css/headerAndFooter/footer.css">
    <link rel="stylesheet" href="../../static/css/profile/setting.css">
    <link rel="stylesheet" href="../../static/css/profile/menu.css">
    <link rel="stylesheet" href="../../static/css/profile/common.css">
    <title>Setting</title>
</head>

<body>
    <div id="header"></div>
    <h2>My Profile</h2>
    <div class="profile-wrapper">
    </div>
    <div class = "footer"></div>
    <script th:src="@{/js/header.js}" src="../../static/js/header.js"> </script>
    <script src="../../static/js/footer.js"> </script>
    <script src="../../static/js/profile/setting.js"> </script>
</body>

</html>