<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/headerAndFooter/header.css}">
    <link rel="stylesheet" th:href="@{/css/headerAndFooter/footer.css}">
    <link rel="stylesheet" th:href="@{/css/profile/setting.css}">
    <link rel="stylesheet" th:href="@{/css/profile/menu.css}">
    <link rel="stylesheet" th:href="@{/css/profile/common.css}">
    <title>Setting</title>
</head>

<body>
    <div id="header"></div>
    <h2>My Profile</h2>
    <div class="profile-wrapper">
    </div>
    <div class = "footer"></div>
    <script th:src="@{/js/header-footer/header.js}" src="../../static/js/header-footer/header.js"> </script>
    <script th:src="@{/js/header-footer/footer.js}" src="../../static/js/header-footer/footer.js"> </script>
    <script type="module" th:src="@{/js/profile/setting.js}" src="../../static/js/profile/setting.js"></script>
</body>

</html>