
/****** Object:  Table [dbo].[CART]    Script Date: 21/07/2024 1:41:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CART](
	[CLIENT_ID] [int] NOT NULL,
	[PRODUCT_ID] [nvarchar](100) NOT NULL,
	[QUANTITY] [smallint] NOT NULL,
	[ADDRESS] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_CART] PRIMARY KEY CLUSTERED 
(
	[CLIENT_ID] ASC,
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENT_INFO]    Script Date: 21/07/2024 1:41:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENT_INFO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LASTNAME] [nvarchar](50) NOT NULL,
	[FIRSTNAME] [nvarchar](10) NOT NULL,
	[PHONE_NUMBER] [nchar](10) NOT NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](150) NOT NULL,
	[ROLE] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CLIENT_INFO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_CLIENT_INFO] UNIQUE NONCLUSTERED 
(
	[USERNAME] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCT]    Script Date: 21/07/2024 1:41:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCT](
	[PRODUCT_ID] [nvarchar](100) NOT NULL,
	[PRODUCT_NAME] [nvarchar](50) NOT NULL,
	[PRODUCT_IMAGE_PATH] [nvarchar](max) NOT NULL,
	[PRODUCT_REMAINING_QUANTITY] [int] NOT NULL,
	[PRODUCT_DESCRIPTION] [nvarchar](100) NULL,
	[PRICE] [money] NOT NULL,
	[CLIENT_ID] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[PRODUCT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SELLING_DETAIL]    Script Date: 21/07/2024 1:41:40 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SELLING_DETAIL](
	[CLIENT_ID] [int] NOT NULL,
	[PRODUCT_ID] [nvarchar](100) NOT NULL,
	[SELLING_DATE] [datetime] NOT NULL,
	[ADDRESS] [nvarchar](100) NULL,
	[QUANTITY] [int] NOT NULL,
	[PRICE] [money] NOT NULL,
	[STATUS] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_SELLING_DETAIL_1] PRIMARY KEY CLUSTERED 
(
	[CLIENT_ID] ASC,
	[PRODUCT_ID] ASC,
	[SELLING_DATE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PRODUCT] ADD  CONSTRAINT [DF_PRODUCT_PRICE]  DEFAULT ((100000)) FOR [PRICE]
GO
ALTER TABLE [dbo].[SELLING_DETAIL] ADD  CONSTRAINT [DF_SELLING_DETAIL_SELLING_DATE]  DEFAULT (getdate()) FOR [SELLING_DATE]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_CART_CLIENT_INFO] FOREIGN KEY([CLIENT_ID])
REFERENCES [dbo].[CLIENT_INFO] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_CART_CLIENT_INFO]
GO
ALTER TABLE [dbo].[CART]  WITH CHECK ADD  CONSTRAINT [FK_CART_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT] ([PRODUCT_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CART] CHECK CONSTRAINT [FK_CART_PRODUCT]
GO
ALTER TABLE [dbo].[PRODUCT]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_CLIENT_INFO] FOREIGN KEY([CLIENT_ID])
REFERENCES [dbo].[CLIENT_INFO] ([ID])
GO
ALTER TABLE [dbo].[PRODUCT] CHECK CONSTRAINT [FK_PRODUCT_CLIENT_INFO]
GO
ALTER TABLE [dbo].[SELLING_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_SELLING_DETAIL_CLIENT_INFO] FOREIGN KEY([CLIENT_ID])
REFERENCES [dbo].[CLIENT_INFO] ([ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SELLING_DETAIL] CHECK CONSTRAINT [FK_SELLING_DETAIL_CLIENT_INFO]
GO
ALTER TABLE [dbo].[SELLING_DETAIL]  WITH CHECK ADD  CONSTRAINT [FK_SELLING_DETAIL_PRODUCT] FOREIGN KEY([PRODUCT_ID])
REFERENCES [dbo].[PRODUCT] ([PRODUCT_ID])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SELLING_DETAIL] CHECK CONSTRAINT [FK_SELLING_DETAIL_PRODUCT]
GO
ALTER TABLE [dbo].[CLIENT_INFO]  WITH CHECK ADD  CONSTRAINT [CK_ROLE] CHECK  (([ROLE]='STORE OWNER' OR [ROLE]='CUSTOMER'))
GO
ALTER TABLE [dbo].[CLIENT_INFO] CHECK CONSTRAINT [CK_ROLE]
GO
ALTER TABLE [dbo].[SELLING_DETAIL]  WITH CHECK ADD  CONSTRAINT [CK_SELLING_DETAIL] CHECK  (([STATUS]='IN TRANSIT' OR [STATUS]='SUCCESS' OR [STATUS]='FAILED'))
GO
ALTER TABLE [dbo].[SELLING_DETAIL] CHECK CONSTRAINT [CK_SELLING_DETAIL]
GO
USE [master]
GO
