.forgot-wrapper{
    display: flex;
    flex-direction: row;
}
.forgot-wrapper img{
    height: 100vh ;
    width: 40vw;
}
.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: 16px;
}
.form-wrapper input{
    width: 455px;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;
}
button{
    width: 445px;
    height: 50px;
    background-color: black;
    border-radius: 10px;
    color: white;
}