body{
    background-color: rgb(228, 228, 228);
    margin: 0px;
}
.tail{
    background-color: rgb(251, 248, 248);
    height: 70px;
    text-align: start;
    justify-self: center;
    align-items: center;
    padding-left:15px ;
    width: 98vw;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-evenly;
}
.tail .checkbox{
    accent-color:rgb(227, 18, 18);
    width: 20px;
    height: 20px;
}
.tail .checkbox:hover{
    cursor: pointer;
}
.tail .price{
}
.tail .btnPurchase{
    width: 150px;
    border-radius: 1px;
    background-color: rgb(210, 57, 30);
    color: white;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.tail .btnPurchase:hover{
    cursor: pointer;
}
.listItem{
    margin-bottom: 75px;
}
.item{
    background-color: white;
    height: 150px;
    border: solid 1px;
    align-items: center;
    display: flex;
    margin:10px 50px 10px;
    padding: 10px;
    gap: 5%;
    /* min-width: 1150px; */
    min-height: 150px;
}
.item .checkbox {
    accent-color:rgb(227, 18, 18);
    width: 20px;
    height: 20px;
}
.item .checkbox:hover{
    cursor: pointer;
}
.item .image{
    width: 80px;
    height: 80px;
}
.item .product-name{
    min-width: 100px;
    max-height: 35px;
}
.item .address{

}
.item .quantity{
    display: flex;
    gap:10px;
}
.item .price{
    padding-left: 0%;
}
.item .remove{
    color: black;
    padding-left: 10%;
}
.item .remove:hover{
    cursor: pointer;
}

a{
    color: black;
    text-decoration: none;
}
.purchase-form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    background-color: #ffffff;
    border: 1px solid;
    padding: 50px 0px;
    display: none;
}
.purchase-form .btn-wrapper{
    display: flex;
    gap: 10px;
}
.purchase-form .btn-wrapper .btn{
    width: 100px;
    padding: 7px;
    background-color: rgb(210, 57, 30);
    text-align: center;
}
.purchase-form .btn-wrapper .btn:hover{
    cursor: pointer;
}

@media screen and (max-width:600px) {
    .item{
        margin:0px;
        padding:0px;
        padding-left:15px;
        flex-direction: column;
        height: fit-content;
        align-items: center;
    }
    .item .remove{
        color: black;
        padding-left: 0px;
    }
    .item .product-name{
        min-width: 0px;
    }
}