body {
    background-color: rgb(228, 228, 228);
    margin: 0px;
}

.item {
    background-color: white;
    height: 150px;
    border: solid 1px;
    align-items: center;
    display: flex;
    margin: 10px 50px 10px;
    padding: 15px;
    justify-content: space-between;
    /* min-width: 1150px; */
    min-height: 150px;
}

.item .image {
    width: 80px;
    height: 80px;
}

.item .product-name {
    /* min-width: 100px; */
    max-height: 35px;
}

.item .product-name::before {
    content: 'Tên sản phẩm: ';
}

.item .quantity {
    /* display: flex; */
    gap: 10px;
}

.item .quantity::before {
    content: 'Số lượng còn lại: ';
}

.item .price {
    padding-left: 0%;
}

.item .price::before {
    content: 'Giá: ';
}

.item .detail {
    color: black;
    padding-left: 10%;
}

.item .detail:hover {
    cursor: pointer;
}

a {
    color: black;
    text-decoration: none;
}
.btn-add{
    position: sticky;
    bottom: 0px;
    right:50px;
    background-color: rgb(227, 18, 18);
    padding: 10px 60px 10px;
    margin-left: 50px;
    width: fit-content;
}
.btn-add:hover{
    cursor: pointer;
}

@media screen and (max-width:400px) {
    .item{
        padding: 0px;
        margin:0px;
        font-size: smaller;
    }
    .btn-add{
        margin: 0px;
    }
    .item .image{
        width: 50px;
        height: 50px;
        padding-right: 2px;
    }
    svg{
        width: 10px;
        height: 10px;
    }
}