
body{
    background-color: rgb(228, 228, 228);
    margin: 0px;
    /* min-width: 745px; */
}
.main-view{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 70vh;
    margin:10px 50px 10px;
    background-color: rgb(252, 252, 252);
    padding: 10px;
    /* min-width: 730px; */
}
.main-view .image{
    border: 1px solid;
    width: 30%;
    /* min-width: 350px; */
}
.main-view .price-quantity{
    border: 1px solid;
    border-radius: 5px;
    flex-grow: 1;
    padding: 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.edit-svg:hover{
    cursor: pointer;
}
.main-view .price-quantity .product-name-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px
}
.main-view .price-quantity .product-name-wrapper .product-name{
    border: none;
    background-color: rgb(252, 252, 252);
    height: 30px;
}
.main-view .price-quantity .product-name-wrapper .product-name::before{
    content: 'Tên sản phẩm: ';
    color: rgb(210, 57, 30);
}

.main-view .price-quantity .quantity{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px;
}
.main-view .price-quantity .price-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.main-view .price-quantity .price-wrapper .price{
    padding-left: 20px;
    color: rgb(210, 57, 30);
    border:none;
    background-color: rgb(252, 252, 252);
}

.main-view .price-quantity .price-wrapper .price::before{
    content: 'Giá: ';
    color: rgb(210, 57, 30);
}
.main-view .price-quantity .price-wrapper .price::after{
    content: 'vnd';
}
.description-wrapper{
    display: flex;
    flex-direction: column;       
    height: 200px;
    margin: 10px 50px  10px;
    background-color: rgb(252, 252, 252);
    padding: 10px;
    gap: 10px;
    /* min-width: 730px; */
}
.description-wrapper .description{
    color: black;
    border:none;
    background-color: rgb(252, 252, 252);
    width: 100%;
    height: 100px;
} 
.description-wrapper .btn-wrapper{
    display: flex;
    justify-content: center;
}
.description-wrapper .btn-wrapper .btnDone{
    width: 80px;
    padding: 5px 15px 5px;
    background-color: rgb(210, 57, 30);
    text-align: center;
    display: none;
}
/* .description-wrapper .description::before{
    content: 'Mô tả: ';
    color: tomato;
}  */


@media screen and (max-width: 640px) {
    .main-view{
        flex-direction: column;
        font-size: small;
        margin: 0px;
    }
    .main-view .image{
        width: 100%;
    }
    .main-view .price-quantity{
        padding: 0px;
    }
    .main-view .price-quantity .price-wrapper{
        gap: 0px;
    }
    .description-wrapper{
        margin: 0px;
    }
}