html{
    height: 100vh;
}
body{
    margin: 0;
    overflow:scroll;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}
.search{
    padding-left: 250px;
}
.search input{
    width: 250px;
}
.home{
    font-size: large;
}
.home:hover{
    cursor: pointer;
}
.wrap-content{
    margin: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    flex-grow: 1;
}
.selection_bar{
    overflow-y:auto;
    padding-left: 5px;
    display: flex;
    flex-direction: column; 
    border-right: 1px solid;
    margin: 0px;
    border-radius: 1px;
    border-right-color: chocolate;
}

.selection_bar .item{
    margin-top: 65px;
    padding: 10px;
}

.selection_bar .item:hover{
    cursor: pointer;
    background-color: rgb(175, 176, 176);
  
}
.selection_bar .home{
    padding: 10px;
}

.selection_bar .home:hover{
    cursor: pointer;
    background-color:rgb(175, 176, 176);
  
}
.btnHome{
    display: none;
    position: fixed;
    top: 71px;
}
.btnHome:hover{
    cursor: pointer;
}
.product-view{
    background-color: rgb(255, 255, 255);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.product-view .product-grid{
    display: grid;
    grid-template-columns: repeat(5, 1fr); /*3 cột, mỗi cột có kích thước bằng nhau*/
    gap: 5px; 
    flex-grow: 1;
    width: fit-content;

    align-self: center;
    justify-content: center;

}

.product-view .product-grid .product-cell{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    align-items: center;
    box-shadow: 10px 10px 20px rgb(232, 229, 229);
    display: flex;
    flex-direction: column;
    width: 200px;
    max-width: 200px;
    max-height: 250px;
    height: 250px;
    justify-content: space-between;
    padding:10px;
}
.product-view .product-grid .product-cell:hover{
    cursor: pointer;
}
.product-view .product-grid .product-cell .image{
    width: 98%;
    height: 150px;
}


@media only screen and (max-width: 1024px){
    .btnHome{
        display: block;
        position: fixed;
        top: 10px;
    }

    .header{
        font-size: large;
        padding-left: 10px;

    }
    .search{
        padding-left: 5px;
    }
    .search input{
        width: fit-content;
        font-size: small;
    }
    .selection_bar{
        display: none;
        overflow-y:scroll;
        padding-left: 5px;
        flex-direction: column; 
    }
    
    .product-view .product-grid{
        grid-template-columns: repeat(3, 1fr); /*3 cột, mỗi cột có kích thước bằng nhau*/
    
    }
    .product-view .product-grid .product-cell{
        background-color: rgb(255, 255, 255);
        border-radius: 10px;
        align-items: center;
        box-shadow: 10px 10px 20px rgb(232, 229, 229);
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }
}
@media screen and (max-width:872px) {
    .product-view .product-grid{
        grid-template-columns: repeat(3, 1fr); /*3 cột, mỗi cột có kích thước bằng nhau*/
        width: fit-content;
    }
}
@media screen and (max-width:715px) {
    .product-view .product-grid{
        grid-template-columns: repeat(2, 1fr); /*3 cột, mỗi cột có kích thước bằng nhau*/
    }
}
@media only screen and (max-width: 400px){
    svg{
        width: 20px;
        height: 20px;
    }
    button{
        font-size:small;
    }
    .header{
        font-size: small;
        padding-left:0px;
    }
    .header .logo{
        display: none;
    }
    .home{
        font-size: small;
    }
    .search{
        padding-left: 5px;
    }
    .search input{
        width: fit-content;
        font-size: small;
    }
    .selection_bar{
        display: none;
        overflow-y:scroll;
        padding-left: 5px;
        flex-direction: column; 
    }
    .selection_bar .item{
        margin-top: 50px;
        padding: 10px;
    }
    
    .product-view .product-grid{
        grid-template-columns: repeat(2, 1fr); /*3 cột, mỗi cột có kích thước bằng nhau*/
        gap: 5px; /* Khoảng cách giữa các ô lưới */
        width: 100%;
        padding: 0px;
    }
    .product-view .product-grid .product-cell{
        width: auto;
    }
}