body{
    padding: 0;
    margin: 0;
}
.container{
    margin: 10px;
}
.item-header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid rgb(162, 160, 160);
}
.item-header .item{
    /* border-bottom: solid 2px black; */
    font-size: medium;
}
.item-header .item:hover{
    cursor: pointer;
}
.search{
    height: 100px;
    display: flex;
    align-items: center;
}

.search .input{
    display: flex;
    align-items: center;
    gap:10px;
    border:1px solid ;
    padding:8px;
    flex-grow: 1;
}

.search .input .magnifier:hover{
    cursor: pointer;
}
.search .input input{
    border: none;
    outline: none;
    flex-grow: 1;
    height: 100%;
}


.table{
    width: 100%;
    border-collapse: collapse; 
}

.table .table-header {
    height: 35px;
    border-bottom: 1px solid rgb(183, 179, 179);
}
.table tbody tr{
    height: 50px;
}
.table tbody tr:hover{
    background-color: rgb(219, 219, 219);
}