<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/sigup.css}">
    <title>Đăng ký</title>
</head>
<body>
    
    <form class="login"  th:action="@{/add-user}" method="post">
        <h1>Đắng ký</h1>
        <span
            th:if="${error}"
            th:text ="${error}"
            style="color: red; font-style: italic"
        ></span>
        <input type="text" name = "username" placeholder="Tên đăng nhập"  required>
        <input type="password" name = "originalPassword" placeholder="Mật khẩu mới"  required>
        <input type="password" name = "confirmPassword" placeholder="Nhập lại mật khẩu" required>
        <button type="submit" class="btn-sigup" >
            Tiếp
        </button>
    </form>
   
</body>
</html>