<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/cart.css}">
    <title>Document</title>

</head>
<body>
    <div class="purchase-form"> 
        <p style="font-size: large;">Xác nhận</p>
        <p id="price-in-form">500k</p>
        <div class="btn-wrapper">
            <span class="btn">Hủy</span>
            <span class="btn">Xác nhận</span>
        </div>
    </div>
    <span style="display: none;" id = "productId" th:text = "${productId}"></span>
    <span style="display: none;" id = "quantity" th:text = "${quantity}"></span>
    <span style="display: none;" id = "address" th:text = "${address}"></span>
    
    <script th:src="@{/js/header.js}" src="../static/js/header.js"> </script>
    
    <div id="listItem" class="listItem">
    </div>
    <div class="tail">
        <label for="select-all" style="color: #000000;">Chọn tất cả</label>
        <input class="checkbox" type="checkbox" id="select-all">
        <p class="price">Tổng tiền:</p>
        <div class="btnPurchase">
            <span>
                Thanh toán
            </span>
        </div>
    </div>
    <script th:src="@{/js/cart.js}" src="../static/js/cart.js">
    </script>
    <script th:src="@{/js/common.js}" src="../static/js/common.js">
    </script>
</body>
</html>