<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
    <link rel="stylesheet" th:href="@{/assets/profile.svg}">
    <title>Home</title>
</head>

<body>
    <p id = "keyword" th:text = "${keyword}" style="display: none;"></p>
    <script th:src="@{/js/header.js}" src="../static/js/header.js"> </script>
    <div class="wrap-content">
        <div class="selection_bar">
            
            <p class="item" id = 'cart'>
                <img th:src="@{/assets/shopping-cart-svgrepo-com.svg}" alt="cart">
                Xem giỏ hàng
            </p>

            <p class="item" id = 'purchase'>
               <img th:src="@{/assets/truck-tick-svgrepo-com.svg}" alt="truck-tick-svgrepo-com">
                Xem đơn hàng
            </p>
            <p class="item" id = "client-stock" >
               <img th:src="@{/assets/manage.svg}" alt="manage">
                Quản lý mặc hàng
            </p>
            <p class="item" id = "order-details" >
               <img th:src="@{/assets/manage.svg}" alt="manage">
                Xem đơn đặt hàng
            </p>
            <p class="item" id = "logout">
                <img th:src="@{/assets/exit.svg}" alt="exit">
                Thoát
            </p>
        </div>
        <div class="product-view">
            <div class="product-grid"> 
                <!-- <div class="product-cell">
                    <img class="image"
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLQUQ6g6NjGqj3qncgsJGpxzzRrL_qDAc1qQ&s"
                        alt="Image">
                    <p>Xoài xanh giòn rụm</p>
                    <p>100đ</p>
                </div> -->
            </div>
        </div>
    </div>

    <script th:src="@{/js/home.js}" src="../static/js/home.js">
    </script>
    <!-- <script th:inline = "javascript">
        var role = /*[[${role}]]*/ null;
        if(role.includes('STORE OWNER')){
            document.getElementById('client-stock').style.display = "inline-flex"
        }
    </script> -->
        <script th:src="@{/js/common.js}" src="../static/js/common.js">
    </script>
</body>

</html>