<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" href="/src/main/resources/static/css/common.css">
    <!-- <link rel="stylesheet" href="./../static/assets/"> -->
    <link rel="stylesheet" href="/src/main/resources/static/css/info.css">
    <link rel="stylesheet" th:href="@{/css/info.css}">

    <title>Info</title>
</head>
<body>
    <script th:src="@{/js/header.js}" src="../static/js/header.js"> </script>
    <div class="form-wrapper">
        <form  class="form" >
            <div class="item" style="flex-direction: column;">
                <p>Tên đăng nhập chỉ có thể thay đổi được một lần</p>
                <div>
                    <div th:if="${profile.isEditUsername}">
                        <label for="username">Tên đăng nhập</label>
                        <input type="text" id = "username" name="firstname" th:value ="${profile.username}" disabled required >
                    </div>
                    <div th:unless="${profile.isEditUsername}">
                        <label for="username">Tên đăng nhập</label>
                        <input type="text" id = "username" name="firstname" th:value ="${profile.username}" required >
                    </div>
                    
                </div>
            </div>
            <div class="item">
                <label for="firstname">Tên</label>
                <input type="text" id = "firstname" name="firstname" th:value="${profile.firstname}" required>
            </div>
            <div class="item">
                <label for="lastname">Họ</label>
                <input type="text" id= "lastname" th:value="${profile.lastname}" required>
            </div>
            <div class="item">
                <label for="email">Email</label>
                <input type="email" id = "email" th:value="${profile.email}" disabled required>
            </div>
            <div class="item">
                <label for="phone-number">Số điện thoại</label>
                <input type="text" id = "phone-number" th:value="${profile.phoneNumber}" required>
            </div>
            <span class = "btn-save">Lưu</span>
        </form>
    </div>
    <script th:src="@{/js/common.js}" src="../static/js/common.js">
    </script>
    <script th:src="@{/js/info.js}" src="../static/js/info.js">
    </script>
</body>
</html>