<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/order-details.css}">
    <title>Order Details</title>
</head>

<body>
    <script th:src="@{/js/header.js}" src="../static/js/header.js"> </script>
    <div class="container">
        <h1>Order Details</h1>
        <div class="item-header">
            <div id = "all" class="item">Tất cả đơn đặt</div>
            <div id = "success" class="item">Đã giao</div>
            <div id = "inTransit" class="item">Đang vận chuyển</div>
            <div id = "preparation" class="item">Chờ chuẩn bị</div>
            <div id = "cancel" class="item">Hủy</div>
        </div>
        <div class="search">
            <div class="input">
                <img th:src="@{/assets/magnifier-svgrepo-com.svg}" alt="magnifier" class="magnifier">
                <input type="text" name="" id="" placeholder="search">
            </div>
        </div>
        <table class="table">
            <thead >
                <tr class="table-header">
                    <td>Mã khách hàng</td>
                    <td>Mã sản phẩm</td>

                    <td>Tên sản phẩm</td>
                    
                    <td>Ngày đặt</td>
                    <td>Đơn giá</td>
                    <td>Số lượng</td>
                    <td>Tổng tiền</td>
                    <td>Trạng thái</td>
                </tr>
            </thead>
            <tbody class = "table-body">
               
            </tbody>
        </table>
    </div>
    <script th:src="@{/js/order-details.js}" src="../static/js/order-details.js"> </script>
    <script th:src="@{/js/common.js}" src="../static/js/common.js"> </script>
</body>

</html>