<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/purchase.css}">
    <title>Purchase</title>

</head>
<body>
    <script th:src="@{/js/header.js}" src="../static/js/header.js"> </script>
    <div class="selected-bar">
        <div class="item" id = 'all'>Tất cả</div>
        <div class="item" id = 'preparement'>Đang chuẩn bị</div>
        <div class="item" id = 'in-transit'>Đang vận chuyển</div>
        <div class="item" id = 'success'>Hoàn thành</div>
        <div class="item" id = 'cancel'>Đã hủy</div>
    </div>
    <div class="list-item">
     
        
    </div>
    <script th:src="@{/js/purchase.js}" src="../static/js/purchase.js">
    </script>
    <script th:src="@{/js/common.js}" src="../static/js/common.js">
    </script>
</body>
</html>