input{
    padding: 0;
    margin: 0;
}
select{
    padding: 0;
    margin: 0;
}
.info-panel{
    display: flex;
    flex-wrap: wrap;
    height: 524px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
}
.info-panel .input{
    width: 400px;
    min-width: 400px;
    max-width: 400px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}
#edit-pen:hover{
    cursor: pointer;
}
#edit-pen{
    top:0;
    right: 0;
    position: absolute;

    padding: 10px 0;
    
    width: 100px;
    
    background-color: black;
    color: white;
    
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-submit{
    width: 400px;
    text-align: center;
    padding: 10px 0px;
    background-color: rgb(127, 127, 127);
    color: white;
    border-radius: 10px;
}

.btn-submit:hover {
    cursor: not-allowed;
}