<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" th:href="@{/css/headerAndFooter/header.css}">
    <link rel="stylesheet" th:href="@{/css/headerAndFooter/footer.css}">
    <link rel="stylesheet" th:href="@{/css/shopping/chat.css}">
    <link rel="stylesheet" th:href="@{/css/shopping/search.css}">
    <link rel="stylesheet" th:href="@{/css/shopping/search-for-ai.css}">

    <title>Products</title>
</head>
<!-- Dùng cho tìm kiêm và chọn theo loại -->
<body>
    <div id="header"></div>
    <div class="rating">
        
    </div>
    <div class="wrapper">
        <div class="filter">
            
        </div>
        <div class="products">
        </div>
    </div>
    <div class = "footer"></div>

    <script th:src="@{/js/header-footer/header.js}" src="../../static/js/header-footer/header.js"> </script>
    <script th:src="@{/js/header-footer/footer.js}" src="../../static/js/header-footer/footer.js"> </script>
    <script type="module" th:src="@{/js/shopping/search-for-ai.js}" src="../../static/js/shopping/search-for-ai.js"> </script>
</body>

</html>